BACKUP_USER=root

#HOSTNAME="104.154.176.225 35.193.34.95 104.198.241.110 35.239.88.28"
HOSTNAME="104.198.241.110 35.239.88.28"
#HOSTNAME="35.239.88.28"
USERNAME=postgres

#BACKUP_DIRECTORY=/opt/DB_Backup/
BACKUP_DIRECTORY=/disk1/DB_Backup/

#DB_ONLY_LIST_RCM_DB_PROD="Qonductor edocs"

#DB_ONLY_LIST_EDIHUB_PROD="BANQ TEST"

#DB_ONLY_LIST_QPATHWAYS_PROD_DB="pathways"

DB_ONLY_LIST_COMMON_DB_PROD="QOREAuth QOREAllergy QOREGallery QOREHistory QOREICD QOREInsurance QOREPatient QOREProvider QOREVisits QOREExam QOREProblem QOREVitals QOREAppointment QOREImmunization"

DB_ONLY_LIST_RXMEDS_PROD_DB="RxMed QDrugs eRx"


